<a href="https://colab.research.google.com/github/somenbilaspur/github/blob/main/Untitled16_ipynb_news_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from nltk.corpus import stopwords
from scipy.sparse import csr_matrix
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

# New Section

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
pd.read_csv('/content/gdrive/My Drive/dataset/sgared data.csv')

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2.053010e+18,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2.053010e+18,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2.053010e+18,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2.053010e+18,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2.053010e+18,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
1048570,2019-11-01 16:00:51 UTC,view,5100375,2.053010e+18,electronics.clocks,xiaomi,70.53,538140974,f2a7b481-3b93-4ae9-b069-8b5a1bcaf3bf
1048571,2019-11-01 16:00:51 UTC,view,1005099,2.053010e+18,electronics.smartphone,samsung,139.49,565325552,80c62d40-1ad4-4c84-af78-cdc8cf176762
1048572,2019-11-01 16:00:52 UTC,view,6000254,2.053010e+18,auto.accessories.alarm,starline,196.92,513687012,43e8351d-5a42-49bd-b15e-ecff1d382242
1048573,2019-11-01 16:00:52 UTC,view,28102605,2.053010e+18,NaN,vitebskiekovry,60.74,514317487,214ad989-b673-4259-bc05-3dd0235fd26c
1048574,2019-11-01 16:00:52 UTC,view,1004209,2.053010e+18,electronics.smartphone,samsung,88.28,516192167,e731ca24-1658-4722-a895-87ef5b77270c

In [5]:
pd.read_csv('/content/gdrive/My Drive/dataset/sgared data.csv')

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2.053010e+18,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2.053010e+18,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2.053010e+18,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2.053010e+18,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2.053010e+18,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
1048570,2019-11-01 16:00:51 UTC,view,5100375,2.053010e+18,electronics.clocks,xiaomi,70.53,538140974,f2a7b481-3b93-4ae9-b069-8b5a1bcaf3bf
1048571,2019-11-01 16:00:51 UTC,view,1005099,2.053010e+18,electronics.smartphone,samsung,139.49,565325552,80c62d40-1ad4-4c84-af78-cdc8cf176762
1048572,2019-11-01 16:00:52 UTC,view,6000254,2.053010e+18,auto.accessories.alarm,starline,196.92,513687012,43e8351d-5a42-49bd-b15e-ecff1d382242
1048573,2019-11-01 16:00:52 UTC,view,28102605,2.053010e+18,NaN,vitebskiekovry,60.74,514317487,214ad989-b673-4259-bc05-3dd0235fd26c
1048574,2019-11-01 16:00:52 UTC,view,1004209,2.053010e+18,electronics.smartphone,samsung,88.28,516192167,e731ca24-1658-4722-a895-87ef5b77270c

In [6]:
articles_df=pd.read_csv('/content/gdrive/My Drive/dataset/sgared data.csv')
articles_df.head(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2.053010e+18,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2.053010e+18,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2.053010e+18,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2.053010e+18,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2.053010e+18,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [7]:
pd.read_csv('/content/gdrive/My Drive/dataset/interection data.csv')

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,NaN,NaN,NaN
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,NaN,NaN,NaN
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
72307,1485190425,LIKE,-6.590820e+18,-9.016530e+18,8.614470e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR
72308,1485190425,VIEW,-5.813210e+18,1.023060e+17,5.527770e+18,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR
72309,1485190072,VIEW,-1.999470e+18,-9.196670e+18,-8.300600e+18,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SP,BR
72310,1485190434,VIEW,-6.590820e+18,-9.016530e+18,8.614470e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4...,MG,BR
72311,1485187988,VIEW,5.669290e+18,5.713240e+18,6.704550e+18,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR

In [8]:
ratings=pd.read_csv('/content/gdrive/My Drive/dataset/interection data.csv')
ratings.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,NaN,NaN,NaN
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,NaN,NaN,NaN
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,NaN,NaN,NaN

In [9]:
ratings.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,NaN,NaN,NaN
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,NaN,NaN,NaN
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,NaN,NaN,NaN

In [11]:
ratings.head(10)

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,NaN,NaN,NaN
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,NaN,NaN,NaN
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,NaN,NaN,NaN
5,1465413742,VIEW,3.105150e+17,-8.763400e+18,1.395790e+18,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
6,1465415950,VIEW,-8.864070e+18,3.609190e+18,1.143210e+18,NaN,NaN,NaN
7,1465415066,VIEW,-1.492910e+18,4.254150e+18,8.743230e+18,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR
8,1465413762,VIEW,3.105150e+17,3.442810e+17,-3.167640e+18,NaN,NaN,NaN
9,1465413771,VIEW,3.064370e+18,3.609190e+18,1.143210e+18,NaN,NaN,NaN

In [12]:
interection_df=pd.read_csv('/content/gdrive/My Drive/dataset/interection data.csv')

In [13]:
users_interections_count_df= interection_df.groupby(['personId', 'contentId']).size().groupby('personId').size()
print('# users: %d' % len(users_interections_count_df))
users_with_enough_interections_df = users_interections_count_df[users_interections_count_df >= 5].reset_index()[['personId']]
print('# users with at least 5 interections: %d' % len(users_with_enough_interections_df))

# users: 1892
# users with at least 5 interections: 1140

In [14]:
print('# of interections: %d' % len(interection_df))
interections_from_selected_users_df = interection_df.merge(users_with_enough_interections_df, 
               how = 'right',
               left_on = 'personId',
               right_on = 'personId')
print('# of interections from users with at least 5 interections: %d' % len(interections_from_selected_users_df))

# of interections: 72312
# of interections from users with at least 5 interections: 69878

In [15]:
interection_df.fillna(0,inplace=True)
interection_df.head(10)

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3.499920e+18,-8.845300e+18,1.264200e+18,0,0,0
1,1465412560,VIEW,8.890720e+18,-1.032020e+18,3.621740e+18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,3.105150e+17,-1.130270e+18,2.631860e+18,0,0,0
3,1465413895,FOLLOW,3.105150e+17,3.442810e+17,-3.167640e+18,0,0,0
4,1465412290,VIEW,-7.820640e+18,-4.453370e+17,5.611480e+18,0,0,0
5,1465413742,VIEW,3.105150e+17,-8.763400e+18,1.395790e+18,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,MG,BR
6,1465415950,VIEW,-8.864070e+18,3.609190e+18,1.143210e+18,0,0,0
7,1465415066,VIEW,-1.492910e+18,4.254150e+18,8.743230e+18,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,SP,BR
8,1465413762,VIEW,3.105150e+17,3.442810e+17,-3.167640e+18,0,0,0
9,1465413771,VIEW,3.064370e+18,3.609190e+18,1.143210e+18,0,0,0

In [16]:
import numpy as np
from scipy import sparse

X = np.random.uniform(size=(72312, 8))
print(X)

[[0.13328186 0.40084752 0.33010193 ... 0.2745284  0.85297601 0.56537402]
 [0.40927757 0.57069244 0.38786012 ... 0.59020289 0.13061943 0.6527113 ]
 [0.09523401 0.90168178 0.35968311 ... 0.17706585 0.79716939 0.71962234]
 ...
 [0.17041788 0.77829988 0.11481398 ... 0.95647896 0.36864833 0.72577365]
 [0.52766341 0.07295333 0.74493945 ... 0.11759124 0.54341547 0.98888305]
 [0.91824316 0.87554997 0.22531765 ... 0.14218213 0.60598816 0.19578574]]

In [ ]:
#Creating a sparse pivot table with users in rows and items in columns
users_items_pivot_matrix_df = interections_train_df.pivot(index='personId', 
                                                          columns='contentId', 
                                                          values='eventStrength').fillna(0)

users_items_pivot_matrix_df.head(10)